/*  FOOTER component */


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}




body{
	height: 100vh;
	overflow: hidden;
	background-color: #212329;

}

.container{
	min-height: 400px;
	padding-top: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


.container .curve{
	position: absolute;
	height:200px;
	width: 100%;
	bottom:0;
}

.container .curve:before{
	content:'';
	width:55%;
	height:100%;
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	transform:translate(85%, 60%);
	background-color: #212329;

}

.container .curve::after{
	content:'';
	width:55%;
	height:100%;
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	transform:translate(-5%, 46%);
	background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	z-index: -5;
}

/* sideMenu functionality */

.genesis{
	transform-origin: top left;
	transition: transform 0.5s linear;
	width: 100vw;
	min-height: 110vh;
}


.genesis.lakisa-menu{
	transform: rotate(-20deg);

}

.circle-container{
	position: fixed;
	top: -100px;
	left: -100px;
	z-index: 90;
}

.circle{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color:#1abc9c;
	position: relative;
	transition: transform 0.5s linear;
}

.container.lakisa-menu .circle{
	transform: rotate(-70deg);
}

.circle button{
	cursor:pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	background:transparent;
	border:none;
}
.circle button:focus{
	outline:none;
	
}

.circle button#fongola{
	left:65%;
}


.circle button#kanga{
	bottom:55%;
	right: 30%;
	transform:rotate(90deg);
	transform-origin: left;
}

.genesis.lakisa-menu + nav li{
	transform: translateX(0);
	transition-delay: 0.3s;

}

nav{
	position:fixed;
	bottom:40px;
	left: 53px;
	opacity: 60%;
}


nav ul{
	list-style: none;
	padding-left: 50px;
}

nav ul li{
	text-transform: uppercase;
	color: #fff;
	margin:40px 0;
	transform:translateX(-100%);
	transition: transform 0.5s ease-in;
}

nav ul li{
	font-size: 20px;
	margin-right: 3px;

}

/* hover grayscale effect 

:root{
	---umbra--shade:#212329;
	--card-color:rgb(23, 23, 23);
}
*/


.gallery .sr-71 img:hover{
	filter:grayscale(0);
	cursor:pointer;
	transform: scale(1.1);

}


.gallery .sr-71 .product{
	width: 100%;
	filter:grayscale(100%);
	transition:transform 0.5s ease-in;
	height: 445px;
}










